h2 {
    color: blue;
    text-align: center;
}
h2:hover{
    color: darkgoldenrod;
}
main{
    justify-content: center;
    width: 850px;
    margin: 4%;
}
table, th, td{
    border: 2px solid black;
    padding: 1px;
}
label{
    color: red;
    padding: 2%;
}
table{
    align-content: center;
}
thead{
    background-color: cyan;
}